<div class="container">
    <div class="day-container">
        <div class="day" id="monday">
            <div class="day-name">
                <h5>
                    Hora/Dia
                </h5>
            </div>
            <div class="day-body" id="day-hour" [ngStyle]="{'height': pixels}">
                <ul class="list-group">
                    <li class="list-group-item list-hour" *ngFor="let hour of hours" [ngStyle]="{'height': '61px'}">
                        {{hour}} : 00
                    </li>
                </ul>
            </div>
        </div>
        <div class="day" id="monday">
            <div class="day-name">
                <h5>
                    Lunes
                    <span><a class="add-course" data-toggle="modal" data-target="#exampleModal" (click)="setDay('monday')"><i class="far fa-calendar-plus"></i></a></span>
                </h5>
            </div>
            <div class="day-body">
                <ul class="list-group">
                    <li *ngFor="let course of calendary['monday']['courses']" class="list-group-item" [ngStyle]="{'font-weight': 'bolder','color': '#fff','height': course.pixels, background: course.color}">
                        {{course.name}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="day" id="tuesday">
            <div class="day-name">
                <h5>
                    Martes
                    <span><a class="add-course" data-toggle="modal" data-target="#exampleModal" (click)="setDay('tuesday')"><i
                                class="far fa-calendar-plus"></i></a></span>
                </h5>
            </div>
            <div class="day-body">
                <ul class="list-group">
                </ul>
            </div>
        </div>
        <div class="day" id="wednesday">
            <div class="day-name">
                <h5>
                    Miercoles
                    <span><a class="add-course" data-toggle="modal" data-target="#exampleModal" (click)="setDay('wednesday')"><i
                                class="far fa-calendar-plus"></i></a></span>
                </h5>
            </div>
            <div class="day-body">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
        <div class="day" id="thursday">
            <div class="day-name">
                <h5>
                    Jueves
                    <span><a class="add-course" data-toggle="modal" data-target="#exampleModal" (click)="setDay('thursday')"><i
                                class="far fa-calendar-plus"></i></a></span>
                </h5>
            </div>
            <div class="day-body">
                <ul class="list-group">
                </ul>
            </div>
        </div>
        <div class="day" id="friday">
            <div class="day-name">
                <h5>
                    Viernes
                    <span><a class="add-course" data-toggle="modal" data-target="#exampleModal" (click)="setDay('friday')"><i
                                class="far fa-calendar-plus"></i></a></span>
                </h5>
            </div>
            <div class="day-body">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
        <div class="day" id="saturday">
            <div class="day-name">
                <h5>
                    Sabado
                    <span><a class="add-course" data-toggle="modal" data-target="#exampleModal" (click)="setDay('saturday')"><i
                                class="far fa-calendar-plus"></i></a></span>
                </h5>
            </div>
            <div class="day-body">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
        <div class="day" id="sunday">
            <div class="day-name">
                <h5>Domingo
                    <span><a class="add-course" data-toggle="modal" data-target="#exampleModal" (click)="setDay('sunday')"><i
                                class="far fa-calendar-plus"></i></a></span>
                </h5>

            </div>
            <div class="day-body">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Horario del {{daysDictionarie[day]}}</h5>
                {{course | json}}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="course">Curso:</label>
                                <input type="text" class="form-control" name="course" placeholder="Ingresa un curso" [(ngModel)]="course.name">
                            </div>
                        </div>
                        <div class="col-md-2">
                            - De -
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="hourMin">Hora: </label>
                                <input type="text" class="form-control" name="hourMin" [(ngModel)]="course.hourMin.hour">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="minMin">Min: </label>
                                <input type="text" class="form-control" name="minMin" [(ngModel)]="course.hourMin.minutes">
                            </div>
                        </div>
                        <div class="col-md-2">
                            - a -
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="hourMax">Hora: </label>
                                <input type="text" class="form-control" name="hourMax" [(ngModel)]="course.hourMax.hour">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="minMax">Hora: </label>
                                <input type="text" class="form-control" name="minMax" [(ngModel)]="course.hourMax.minutes">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p>Selecciona un color</p>
                            <div class="container-all-color">
                                <div class="row">
                                    <div class="col-md-4" *ngFor="let color of colors">
                                        <a class="btn-block color" [ngStyle]="{'background': color.color}" (click)="setColor(color.color)">{{color.name}}</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12" [ngStyle]="{'background': colorSelected}">
                            <p style="color: white">Asi se vera el curso</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="addCourse(course)">Save changes</button>
            </div>
        </div>
    </div>
</div>